﻿
@model ChessBlog.Models.PostViewModel

@{
    ViewBag.Title = "FischerClub";
}

@Html.HiddenFor(x => x.CurrentPage)
@Html.HiddenFor(x => x.SelectedCategoryId)
@Html.HiddenFor(x => x.Scroll)
@Html.HiddenFor(x => x.SelectedDate)
@Html.HiddenFor(x => x.SelectedSearch)


<style>
    /* Center the loader */
    #hider {
        background: none repeat scroll 0 0 black;
        position: fixed;
        display: none;
        opacity: 0.5;
        z-index: 11;
        top: 0;
        height: 100%;
        width: 100%;
    }

    #loader {
        display: none;
        position: absolute;
        left: 39%;
        top: 50%;
        z-index: 12;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @@media (max-width: 800px) {
        #loader {
            left: 55%;
            top: 50%;
        }
    }



    @@-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    /* Add animation to "page content" */
    .animate-bottom {
        position: relative;
        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 1s;
        animation-name: animatebottom;
        animation-duration: 1s
    }

    @@-webkit-keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }

        to {
            bottom: 0px;
            opacity: 1
        }
    }

    @@keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }

        to {
            bottom: 0;
            opacity: 1
        }
    }
</style>
<!-- use the font -->
<!-- Page Content --/>-->

<div class="container body-content">
    <div class="row">


        <!-- Blog Entries Column -->
        <div class="col-md-8" id="PostContent">
            @Html.Partial("_PostContent")
        </div>



        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Search Widget -->
            <div class="card my-4">

                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="փնտրել...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" style="margin:4px 0px 0px 4px; padding:2px 5px 2px 5px;" type="button"><i class="fas fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <style>
                ul {
                    -ms-columns: 2;
                    -webkit-columns: 2;
                    -moz-columns: 2;
                    columns: 2;
                }
            </style>
            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Բաժիններ</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled mb-0">
                                @foreach (var item in Model.CategoryList)
                                {
                                    <li>
                                        <a href="#" id="category" class="badge badge-light" data-cotegoryId="@item.Id">@item.Name</a>
                                    </li>
                                }
                                <li>
                                    <a href="#" id="category" class="badge badge-light" data-cotegoryId="0">Բոլորը</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">ժամանակացույց</h5>
                <div class="card-body">
                    <div id="datepicker"></div>
                </div>
            </div>
            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">

                </div>
            </div>
            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    @*<div id="datepicker"></div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loader"></div>

<div id="hider"></div>

<!-- /.row -->
<!-- /.container -->

<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left" style="background-color:#4289cc; border-color:#4289cc"><span><i class="fas fa-chevron-up"></i></span></a>



<script type="text/javascript">
    $().ready(function () {



        afterAjax();
        //var page = $('#CurrentPage').val();
        //  var CatId = $('#SelectedCategoryId').val();

        $(document).on('click', '#category', function () {
            blockPage();
            $('#SelectedCategoryId').val($(this).data('cotegoryid'));
            $('#CurrentPage').val(1);
            var date = '';
            if ($('#SelectedDate').val()) {
                date = $('#SelectedDate').val();
            }
            $.ajax({
                url: '@Url.Action("CategorySelected")',
                data: {
                    CatId: $(this).data('cotegoryid'),
                    date: date,
                },
                success: function (data) {
                    $("#PostContent").html(data);
                    afterAjax();
                    showPage();
                }
            });
        });

        @*$(document).on('click', '#pagenumber', function () {
            blockPage();
            var page = parseInt($(this).html());
            var catId = 0;
            var date = '';
            if ($('#SelectedCategoryId').val()) {
                catId = $('#SelectedCategoryId').val();
            }
            if ($('#SelectedDate').val()) {
                date = $('#SelectedDate').val();
            }
            $('#CurrentPage').val(page);
            $.ajax({
                url: '@Url.Action("_PostContent")',
                data: { "page": page, "CatId": catId, "date": date },
                success: function (data) {
                    $("#PostContent").html(data);
                    afterAjax();
                    showPage();

                }
            });
        });*@

        $(document).on('click', '#previous', function () {

            blockPage();
            var page = $(this).data('currentpage');
            var catId = 0;
            var date = '';
            if ($('#SelectedCategoryId').val()) {
                catId = $('#SelectedCategoryId').val();
            }
            if ($('#SelectedDate').val()) {
                date = $('#SelectedDate').val();
            }
            $('#CurrentPage').val(page-1);
            $.ajax({
                url: '@Url.Action("_PostContent")',
                data: { "page": page-1, "CatId": catId, "date": date },
                success: function (data) {
                    $("#PostContent").html(data);
                    afterAjax();
                    showPage();
                }
            });
        });

        $(document).on('click', '#next', function () {
            blockPage();
            var page = $(this).data('currentpage');
            var catId = 0;
            var date = '';
            if ($('#SelectedCategoryId').val()) {
                catId = $('#SelectedCategoryId').val();
            }
            if ($('#SelectedDate').val()) {
                date = $('#SelectedDate').val();
            }
            $('#CurrentPage').val(page+1);
            $.ajax({
                url: '@Url.Action("_PostContent")',
                data: { "page": page+1, "CatId": catId, "date": date },
                success: function (data) {
                    $("#PostContent").html(data);
                    afterAjax();
                    showPage();
                }
            });
        });


        function afterAjax() {
            $('.gopost').click(function () {

                blockPage();
                //var tempScrollTop = $(window).scrollTop();
                //$('#Scroll').val(tempScrollTop);
                var postId = parseInt($(this).attr('id'));



                var id = '#gopost_' + postId + '';

               $(id)[0].click();

                //$("#gopost").click();

                @*$.ajax({
                    type: 'get',
                    url: '@Url.Action("_PostSingle")',
                    data: { "PostId": postId },
                    success: function (data) {
                        $("#PostContent").html(data);
                        $(window).scrollTop(1);
                        showPage();

                       // window.history.pushState("data", "Title", "/Home/Post?Id=" + postId +"");
                       // document.title = "http://sss.am";
                    }
                });*@
            });
        }


        $(document).on('click', '#btnback', function () {
            blockPage();
            var page = $('#CurrentPage').val();

            var catId = 0;
            var date = '';
            if ($('#SelectedCategoryId').val())
            {
                catId = $('#SelectedCategoryId').val();
            }
            if ($('#SelectedDate').val())
            {
                date = $('#SelectedDate').val();
            }
            $.ajax({
                url: '@Url.Action("_PostContent")',
                data: { "page": page, "CatId": catId, "date": date },
                success: function (data) {
                    $("#PostContent").html(data);
                    afterAjax();
                    $(window).scrollTop($('#Scroll').val());
                    showPage();


                }
            });
        });




          $(function() {
            $("#datepicker").datepicker();
              $("#datepicker").on("change", function () {
                  blockPage();
                var selected = $(this).val();
                $('#SelectedDate').val(selected);
                $('#CurrentPage').val(1);
            var catId = 0;
            if ($('#SelectedCategoryId').val()) {
                catId = $('#SelectedCategoryId').val();
                }
            $.ajax({
                url: '@Url.Action("CalendarSelected")',
                data: {"catid": catId, "date": selected },
                success: function (data) {
                    $("#PostContent").html(data);
                    afterAjax();
                    showPage();
                }
               });

            });
        });


        $.datepicker.setDefaults($.datepicker.regional["hy"]);
        $('#datepicker').datepicker({
            inline: true,
            //altField: '#d',
            dateFormat: 'dd.mm.yy',
            changeYear: true,
            yearRange: "2017:2018",
            prevText: '<i class="fa fa-chevron-left selectable" title="Հետ"></i>',
            nextText: '<i class="fa fa-chevron-right selectable" title="Առաջ"></i>'
        });


        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#back-to-top').tooltip('show');


        function blockPage() {
            document.getElementById("loader").style.display = "block";
            document.getElementById("hider").style.display = "block";
        }


        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("hider").style.display = "none";
        }
    });

</script>
