﻿@model ChessBlog.EntityData.CategoryPost
@using ChessBlog.Extensions;

<meta property="og:url" content="http://hovohovo555-001-site1.itempurl.com" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Share Fishcer News" />
<meta property="og:description" content="This is a test message from a project that connects" />
<meta property="og:image" content="http://hovohovo555-001-site1.itempurl.com/UploadedImages/10/glen-ridge-730X350.jpg" />
<!-- Page Content -->
<!-- Post Content Column -->
<!-- Title -->
<br />
@Html.Raw(@Model.Name)
<!-- Date/Time -->
<span style="float:right; font-size:10px"><i class="far fa-clock" style="margin-right: 4px"></i>@Model.Date.RelativDate()</span>

@if (Model.PhotoVideoLink != null)
{


    foreach (var item in Model.PhotoVideoLink)
    {

        <!-- Preview Image -->

        if (item.PhotoNameExt != "")
        {
            <p>
                <img class="card-img myImg" id="@item.Id" src="@Href("~/UploadedImages/" + Model.Id + "/" + item.PhotoNameExt)" alt="">
            </p>


        }
        if (item.VideoLink != "")
        {
            <p>
                <iframe class="card-img" width="730" height="400" src="@item.VideoLink" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </p>
        }

        <!-- Post Content -->
        if (item.Text != "")
        {
            <p>
                <span style="word-break: break-all">@Html.Raw(item.Text)</span>
            </p>
        }
    }

    <hr />
    <div class="row">
        <div class="col-lg-2">
            <div class="fb-share-button" data-href="http://hovohovo555-001-site1.itempurl.com" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fhovohovo555-001-site1.itempurl.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
        </div>
        <div class="col-lg-2">
            <div id="ok_shareWidget"></div>
        </div>
    </div>
    <hr />
    <div class="col-lg-12">
        <a class="page-link btn" href="#" id="btnback">&larr;&nbsp&nbsp&nbsp Հետ </a>
    </div>
}


<hr />



<div id="myModal" class="modal">
    <span class="close" id="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>



<!-- /.row -->
<!-- /.container -->
<div id="fb-root"></div>
<script>
(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>








<script>




    !function (d, id, did, st, title, description, image) {
        var js = d.createElement("script");
        js.src = "https://connect.ok.ru/connect.js";
        js.onload = js.onreadystatechange = function () {
            if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
                if (!this.executed) {
                    this.executed = true;
                    setTimeout(function () {
                        OK.CONNECT.insertShareWidget(id, did, st, title, description, image);
                    }, 0);
                }
            }
        };
        d.documentElement.appendChild(js);
    }(document, "ok_shareWidget", document.URL, '{"sz": 30,"st":"oval","ck":1}', "", "", "");



    $().ready(function () {


        $("img").each(function () {
            //console.log(index + ": " + $(this).attr('id'));
            var modal = document.getElementById('myModal');
            var img = document.getElementById($(this).attr('id'));
            //console.log(img);
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            $(img).click(function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            });
            var span = document.getElementById('close');
            $(span).click(function () {
                modal.style.display = "none";
            });



            //$(document).click(function (event) {



            //});


        });
    });
</script>


