﻿@model ChessBlog.Models.PostViewModel
@using ChessBlog.Extensions;

<h1 class="my-4">
    @*Page Heading
        <small>Secondary Text</small>*@
   
    <img class="card-img-top" src="~/woochess.gif" />
    @*<img id="loading" src="../../Content/progress.gif" alt="Updating ..." style="display: none;" />*@
</h1>

<div class="card mb-4" style=" border-width: 0px 0px 0px 0px;">


    @foreach (var item in Model.Data)
    {

        if (item.PhotoVideoLink != null)
        {

            var firstItem = item.PhotoVideoLink.FirstOrDefault();

            if (firstItem != null && firstItem.PhotoNameExt != null)
            {

                <div class="selectable gopost" id="@item.Id">
                    <span style="float:right; font-size:10px"><i class="far fa-clock" style="margin-right: 4px"></i>@item.Date.RelativDate()</span>
                    <img class="card-img-top" src="@Href("~/UploadedImages/" + item.Id + "/" + firstItem.PhotoNameExt)" style=" max-height: 350px;" alt="">
                </div>
            }

            <div class="card-body">
                <div class="row selectableLink gopost" id="@item.Id">

                    @Html.Raw(item.Name)

                </div>
            </div>
            <hr />

          
            <a id="gopost_@item.Id" href="/Home/Post/?Id=@item.Id" style="display:none" ></a>

        }
    }

</div>


<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
    @if (Model.CurrentPage > 1)
    {
        <li class="page-item">
            <a class="page-link" href="#" id="previous" data-currentpage="@Model.CurrentPage">&larr; </a>
        </li>
    }

    @for (var i = 1; i <= Model.NumberOfPages; i++)
    {
        <li class="page-item">
            <a class="page-link" id="pagenumber" href="/Home/PostContent/?page=@i">@i</a>
        </li>
    }
    @if (Model.CurrentPage != Model.NumberOfPages)
    {
        <li class="page-item">
            <a class="page-link" href="#" id="next" data-currentpage="@Model.CurrentPage"> &rarr;</a>
        </li>
    }

</ul>
