﻿@{
    ViewBag.Title = "About";
    Layout = null;
}
@Styles.Render("~/bundles/Content/css")
@Styles.Render("~/Content/css/font-awesome")

<style>
    body {
        overflow-x: hidden;
    }
    @@media (max-width: 992px) {
        .marginstext {
            margin: 1% 1% 1% 22% !important;
        }
    }

</style>

<body style="padding: 0px 0px 0px 0px; background-image: url('../../Content/Img/about.jpg')">
    <div>
        <div class="row">
            <div class="col-lg-6">             
                    <img width="70%" src="~/Content/Img/Chess20.png" style="margin: 15% 1% 1% 15%;" />            
            </div>
            <div class="col-lg-6">
                <div class="card-body" width="100%">
                    <p class="marginstext" style="margin: 19% 1% 1% 15%; width: 55%; color: white">

                        Fischer club-ի նպատակն է համախմբել շախմատի սիրահարներին:
                        Դասական շախմատին զուգահեռ մենք փորձելու ենք զարգացնել այսպես կոչված Ֆիշերի շախմատը: Այն դասական շախմատից տարբերվում է միայն ֆիգուրների սկզբնական դասավորվածությամբ: Շախմատիստները, որոնք տիրապետում են շախմատային մարտավարության գաղտնիքներին, ավելի շահեկան վիճակում են հայտնվում, միևնույն ժամանակ խաղի համակարգչային կախվածությունը էապես թուլանում է և ստեղագործական խաղը վերականգնում է իր երբեմնի հմայքը:
                        Ակումբը կրում է ամենաառեղծվածային շախմատիստ, ամերիկացի գրոսմայստեր, շախմատի աշխարհի 11-րդ չեմպիոն Ռոբերտ Ջեյմս «Բոբբի» Ֆիշերի անունը
                        Ֆիշեր ֆենոմենը մեկնաբանության կարիք չունի: Միասին փորձենք նմանվել նրան և մոլորակը ձեզանով էլ կզարմանա:

                    <P class="marginstext" style="margin: 0% 1% 1% 15%; width: 55%; color: white">
                        ԱԿՈՒՄԲԻ ՀԻՄՆԱԴԻՐՆ Է ՀՈՎԻԿ ԽԱԼԻԿՅԱՆԸ:
                    </P>
                </div>
            </div>
        </div>
    </div>
</body>