﻿@{
    ViewBag.Title = "Contact";
}
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0px 0px 0px 0px;
        background-color: whitesmoke;   
    }

    .footer {
        height: 50px;
        margin-top: -50px;
    }
</style>

<div class="container" style="height:100%">
    <div class="row">

        <div class="col-8">
            <iframe style="margin-top: 10%;" width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3048.1196289568766!2d44.52015831524242!3d40.18415107767571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406abce695eaac7f%3A0x316671affdb93ee5!2sLOFT!5e0!3m2!1sru!2s!4v1533904036912"></iframe>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h2>Snail mail</h2>
                    <address>
                        <br />
                        <strong>Ֆիշեր ակումբ</strong><br>
                        Մոսկովյան փողոց 3<br>
                        Երևան<br>
                        Հայաստան<br>
                        Հեռ ՝ +37494339622 , +37441000044 , +37493778708<br>
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>