﻿@model ChessBlog.Models.PostViewModel
@using ChessBlog.Extensions;
@using System.Text.RegularExpressions;

@{
    ViewBag.Title = "";
}


@Html.HiddenFor(x => x.CurrentPage)
@Html.HiddenFor(x => x.SelectedCategoryId)
@Html.HiddenFor(x => x.Scroll)
@Html.HiddenFor(x => x.SelectedDate)
@Html.HiddenFor(x => x.SelectedSearch)


<div class="container body-content">
    <div class="row">


        <!-- Blog Entries Column -->
        <div class="col-md-8" id="PostContent">
            <!-- Page Content -->
            <!-- Post Content Column -->
            <!-- Title -->
            <br />

            @foreach (var postsingl in Model.Data)
            {
                @Html.Hidden(postsingl.Name, null, new { Id = "text" })
                @Html.Raw(postsingl.Name)
                <!-- Date/Time -->
                <span style="float:right; font-size:10px"><i class="far fa-clock" style="margin-right: 4px"></i>@postsingl.Date.RelativDate()</span>

                if (postsingl.PhotoVideoLink != null)
                {


                    foreach (var item in postsingl.PhotoVideoLink)
                    {
                        if (postsingl.PhotoVideoLink.First() == item)
                        {
                            @section metatags{
                                <meta property="og:url" content="@Request.Url.AbsoluteUri" />
                                <meta property="og:title" content="Ֆիշեր ակումբ" />
                                <meta property="og:description" content="@Regex.Replace(postsingl.Name, "<.*?>", string.Empty)">
                                <meta property="og:image" content="@Request.Url.Scheme://@Request.Url.Host/UploadedImages/@postsingl.Id/@item.PhotoNameExt" />
                                <meta property="fb:app_id" content="1149862731823206" />
                                <meta property="og:type" content="article" />
                                <meta property="og:site_name" content="FischerClub.com">

                            }
                        }
                        <!-- Preview Image -->

                        if (item.PhotoNameExt != "")
                        {
                            <p>
                                <img class="card-img myImg" id="@item.Id" src="@Href("~/UploadedImages/" + postsingl.Id + "/" + item.PhotoNameExt)" alt="">
                            </p>


                        }
                        if (item.VideoLink != "")
                        {
                            <p>
                                <iframe class="card-img" width="730" height="400" src="@item.VideoLink" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </p>
                        }

                        <!-- Post Content -->
                        if (item.Text != "")
                        {
                            <p>
                                <span style="word-break: break-all">@Html.Raw(item.Text)</span>
                            </p>
                        }
                    }
                }
            }
            <hr />


            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="addthis_inline_share_toolbox_8hvf"></div>
                    </div>
                    @*<div class="col-xs-4">
                        <a href="#" class="fb-share fa fa-facebookmy"><i class="fab fa-facebook-f"></i></a>
                        <a class="twitter popup fa fa-twittermy" href="http://twitter.com/share"><i class="fab fa-twitter"></i></a>
                    </div>
                    <div class="col-3">

                    </div>*@

                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b6d3b57977a2419"></script>

                    @*<div class="col-3">
                        <div id="ok_shareWidget"></div>
                    </div>*@
                </div>

            </div>




            <hr />


            <div id="myModal" class="modal">
                <span class="close" id="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>



            <!-- /.row -->
            <!-- /.container -->

        </div>



        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Search Widget -->
            <div class="card my-4">

                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="փնտրել...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" style="margin:4px 0px 0px 4px; padding:2px 5px 2px 5px;" type="button"><i class="fas fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Բաժիններ</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled mb-0">
                                @foreach (var item in Model.CategoryList)
                                {
                                    <li>
                                        <a href="#" id="category" class="badge badge-light" data-cotegoryId="@item.Id">@item.Name</a>
                                    </li>
                                }
                                <li>
                                    <a href="#" id="category" class="badge badge-light" data-cotegoryId="0">Բոլորը</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">ժամանակացույց</h5>
                <div class="card-body">
                    <div id="datepicker"></div>
                </div>
            </div>
            <div id="link_post"></div>
            <!-- Side Widget -->
            @*<div class="card my-4">
                    <h5 class="card-header">Side Widget</h5>
                    <div class="card-body">

                    </div>
                </div>*@
            <!-- Side Widget -->
            @*<div class="card my-4">
                    <h5 class="card-header">Side Widget</h5>
                    <div class="card-body">

                    </div>
                </div>*@
        </div>
    </div>
</div>
<div id="loader"></div>

<div id="hider"></div>

<!-- /.row -->
<!-- /.container -->

<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left" style="background-color:#4289cc; border-color:#4289cc"><span><i class="fas fa-chevron-up"></i></span></a>



@*<div id="fb-root"></div>*@


<script>

    $().ready(function () {



        //$('.popup').click(function (event) {
        //    var width = 575,
        //        height = 400,
        //        left = ($(window).width() - width) / 2,
        //        top = ($(window).height() - height) / 2,
        //        url = $("meta[property='og\\:url']").attr("content"),
        //        text = $("meta[property='og\\:description']").attr("content"),
        //        opts = 'status=1' +
        //            ',width=' + width +
        //            ',height=' + height +
        //            ',top=' + top +
        //            ',left=' + left;
        //    window.open('https://twitter.com/intent/tweet?url=' + url + '&text=' + text, 'twitter', opts);
        //    return false;
        //});




        //!function (d, id, did, st, title, description, image) {
        //    var js = d.createElement("script");
        //    js.src = "https://connect.ok.ru/connect.js";
        //    js.onload = js.onreadystatechange = function () {
        //        if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
        //            if (!this.executed) {
        //                this.executed = true;
        //                setTimeout(function () {
        //                    OK.CONNECT.insertShareWidget(id, did, st, title, description, image);
        //                }, 0);
        //            }
        //        }
        //    };
        //    d.documentElement.appendChild(js);
        //}(document, "ok_shareWidget", document.URL, '{"sz": 30,"st":"oval","ck":1}', "", "", "");





        var name = $("#text").attr("name");
        document.title = $(name).text();



        //$("meta[property='og\\:description']").attr("content", $(name).text());
        $("img").each(function () {
            //console.log(index + ": " + $(this).attr('id'));
            var modal = document.getElementById('myModal');
            var img = document.getElementById($(this).attr('id'));
            //console.log(img);
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            $(img).click(function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            });
            var span = document.getElementById('close');
            $(span).click(function () {
                modal.style.display = "none";
            });
        });

        $(document).on('click', '#btnsearch', function () {
            blockPage();
            var catId = 0;
            var date = '';
            if ($('#SelectedCategoryId').val()) {
                catId = $('#SelectedCategoryId').val();
            }
            if ($('#SelectedDate').val()) {
                date = $('#SelectedDate').val();
            }
            var tag = $('#txt_search').val();
            var link = '<a id="searcha" href="/Home/PostContent/?page=' + 1 + '&date=' + date + '&catid=' + catId + '&tag=' + tag + '" style="display:none"></a>';
            $('#btnsearch').html(link);
            $('#searcha')[0].click();
        });



        $(document).on('click', '#category', function () {

            blockPage();
            $('#SelectedCategoryId').val($(this).data('cotegoryid'));
            $('#CurrentPage').val(1);
            var date = '';
            var tag = '';
            if ($('#SelectedDate').val()) {
                date = $('#SelectedDate').val();
            }
            if ($('#SelectedSearch').val()) {
                tag = $('#SelectedSearch').val();
            }
            var link = '/Home/PostContent/?page=' + 1 + '&date=' + date + '&catid=' + $(this).data('cotegoryid') + '&tag=' + tag + '';
            $(this).attr("href", link);
        });


        $.datepicker.setDefaults($.datepicker.regional["hy"]);
        $('#datepicker').datepicker({
            inline: true,
            //altField: '#d',
            dateFormat: 'dd.mm.yy',
            changeYear: true,
            yearRange: "2017:2018",
            prevText: '<i class="fa fa-chevron-left selectable" title="Հետ"></i>',
            nextText: '<i class="fa fa-chevron-right selectable" title="Առաջ"></i>'
        });
        if ($('#SelectedDate').val()) {
            $("#datepicker").datepicker("setDate", $('#SelectedDate').val());
        }

        $(function () {
            $("#datepicker").datepicker();
            $("#datepicker").on("change", function () {
                blockPage();
                var selected = $(this).val();
                $('#SelectedDate').val(selected);
                $('#CurrentPage').val(1);
                var catId = 0;
                var tag = '';
                if ($('#SelectedCategoryId').val()) {
                    catId = $('#SelectedCategoryId').val();
                }
                if ($('#SelectedSearch').val()) {
                    tag = $('#SelectedSearch').val();
                }


                var link = '<a id="calendarlnk" href="/Home/PostContent/?page=' + 1 + '&date=' + selected + '&catid=' + catId + '&tag=' + tag + '" style="display:none"></a>';
                $('#link_post').html(link);
                $('#calendarlnk')[0].click();
            });
        });

        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#back-to-top').tooltip('show');


        function blockPage() {
            document.getElementById("loader").style.display = "block";
            document.getElementById("hider").style.display = "block";
        }


        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("hider").style.display = "none";
        }

        //var url = $("meta[property='og\\:url']").attr("content");
        //$('.fb-share').attr("href", 'https://www.facebook.com/sharer/sharer.php?u=' + url);
        //$('.fb-share').click(function (e) {
        //    e.preventDefault();
        //    window.open($(this).attr('href'), 'fbShareWindow', 'height=450, width=550, top=' + ($(window).height() / 2 - 275) + ', left=' + ($(window).width() / 2 - 225) + ', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
        //    return false;
        //});
        //$('#btnfb').attr("data-href", url);
        //$('#btnfbTest').attr("data-href", url);




    });
</script>