﻿
@{
    ViewBag.Title = "Ֆիշեր ակումբ";

    var start = Math.Max(1, Model.CurrentPage - 2);
    var end = Math.Min(start + 5, Model.NumberOfPages);
}

@model ChessBlog.Models.PostViewModel


@Html.HiddenFor(x => x.CurrentPage)
@Html.HiddenFor(x => x.SelectedCategoryId)
@Html.HiddenFor(x => x.Scroll)
@Html.HiddenFor(x => x.SelectedDate)
@Html.HiddenFor(x => x.SelectedSearch)

@section metatags{
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <meta property="og:title" content="Ֆիշեր ակումբ" />
    <meta property="og:description" content="Ֆիշեր ակումբ սովորենք միասին">
    <meta property="og:image" content="@Request.Url.Scheme://@Request.Url.Host/UploadedImages/12/29793249_346444652534437_8547966435031252992_n.jpg" />
    <meta property="fb:app_id" content="1149862731823206" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="FischerClub.com">

}
<!-- use the font -->
<!-- Page Content --/>-->

<div class="container body-content">
    <div class="row">

        @using ChessBlog.Extensions;
        <!-- Blog Entries Column -->
        <div class="col-md-8" id="PostContent">
            @if (Model.Data.Count() != 0)
            {

                <h1 class="my-4">
                    @*Page Heading
                        <small>Secondary Text</small>*@

                    <img class="card-img-top" src="~/woochess.gif" />

                </h1>

                <h4 style="text-align: center">

                    @if (Model.SelectedCategoryId > 0)
                    {
                        foreach (var item in Model.CategoryList)
                        {
                            if (item.Id == Model.SelectedCategoryId)
                            {
                                <span style="color: #007089">Բաժիններ : @item.Name</span>
                            }
                        }
                    }

                </h4>
                <hr />
                <div class="card mb-4" style="border-width: 0 0 0 0;">


                    @foreach (var item in Model.Data)
                    {

                        if (item.PhotoVideoLink != null)
                        {

                            var firstItem = item.PhotoVideoLink.FirstOrDefault();

                            if (firstItem?.PhotoNameExt != null)
                            {

                                <div class="selectable gopost" id="@item.Id">
                                    <span style="float: right; font-size: 10px"><i class="far fa-clock" style="margin-right: 4px"></i>@item.Date.RelativDate()</span>
                                    <img class="card-img-top" src="@Href("~/UploadedImages/" + item.Id + "/" + firstItem.PhotoNameExt)" style="max-height: 350px;" alt="">
                                </div>
                            }

                            <div class="card-body">
                                <div class="row selectableLink gopost" id="@item.Id">

                                    @Html.Raw(item.Name)

                                </div>
                            </div>
                            <hr />



                            // <a id="gopost_@item.Id" href="/Home/Post/?Id=@item.Id?date=2" style="display:none"></a>

                        }
                    }

                </div>

               
                <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    @if (Model.CurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="#" id="previous" data-currentpage="@Model.CurrentPage">&larr; </a>
                        </li>
                    }
                    
                   
                    @for (var i = start; i <= end; i++)
                    {
                        if (i == Model.CurrentPage)
                        {
                            <li class="page-item">
                                <a class="page-link" id="pagenumber" style="background-color: #337ab7; color:white" href="/Home/PostContent/?page=@i">@i</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" id="pagenumber" href="/Home/PostContent/?page=@i">@i</a>
                            </li>
                        }

                    }
                    @if (Model.CurrentPage != Model.NumberOfPages)
                    {
                        <li class="page-item">
                            <a class="page-link" href="#" id="next" data-currentpage="@Model.CurrentPage"> &rarr;</a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <h4 style="text-align: center; margin-top: 25px">
                    <span style="color: #007089">Արդյունքներ չեն գտնվել</span>
                </h4>
            }
        </div>

        <div id="link_post"></div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Search Widget -->
            <div class="card my-4">

                <div class="card-body">
                    <div class="input-group">
                        <input type="text" id="txt_search" class="form-control" placeholder="փնտրել...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" id="btnsearch" style="margin:4px 0 0 4px; padding:2px 5px 2px 5px;" type="button"><i class="fas fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Բաժիններ</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled mb-0">
                                @foreach (var item in Model.CategoryList)
                                {
                                    <li>
                                        <a href="#" id="category" class="badge badge-light" data-cotegoryId="@item.Id">@item.Name</a>
                                    </li>
                                }
                                <li>
                                    <a href="#" id="category" class="badge badge-light" data-cotegoryId="0">Բոլորը</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">ժամանակացույց</h5>
                <div class="card-body">
                    <div id="datepicker"></div>
                </div>
            </div>
            <!-- Side Widget -->
            @*<div class="card my-4">
                    <h5 class="card-header">Side Widget</h5>
                    <div class="card-body">

                    </div>
                </div>*@
            <!-- Side Widget -->
            @*<div class="card my-4">
                    <h5 class="card-header">Side Widget</h5>
                    <div class="card-body">

                    </div>
                </div>*@
        </div>
    </div>
</div>
<div id="loader"></div>

<div id="hider"></div>

<!-- /.row -->
<!-- /.container -->

<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left" style="background-color:#4289cc; border-color:#4289cc"><span><i class="fas fa-chevron-up"></i></span></a>


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b6d3b57977a2419"></script>
<script type="text/javascript">
    $().ready(function () {

        if ($('#SelectedCategoryId').val()) {
            catId = $('#SelectedCategoryId').val();
            $('#cattext').text(catId);

        }
        //if ($('#SelectedSearch').val()) {
        //    tag = $('#SelectedSearch').val();
        //   $('#txt_search').val(tag);
        //}


        $(document).on('click', '#btnsearch', function () {
            blockPage();
            var catId = 0;
            var date = '';
            if ($('#SelectedCategoryId').val()) {
                catId = $('#SelectedCategoryId').val();
            }
            if ($('#SelectedDate').val()) {
                date = $('#SelectedDate').val();
            }
            var tag=$('#txt_search').val();
            var link = '<a id="searcha"  href="/Home/PostContent/?page=' + 1 + '&date=' + date + '&catid=' + catId + '&tag=' + tag + '" style="display:none"></a>';
            $('#btnsearch').html(link);
            $('#searcha')[0].click();
        });



        $(document).on('click', '#category', function () {

            blockPage();
            $('#SelectedCategoryId').val($(this).data('cotegoryid'));
            $('#CurrentPage').val(1);
            var date = '';
            var tag = '';
            if ($('#SelectedDate').val()) {
                date = $('#SelectedDate').val();
            }
            if ($('#SelectedSearch').val()) {
                tag = $('#SelectedSearch').val();
            }
            var link = '/Home/PostContent/?page=' + 1 + '&date=' + date + '&catid=' + $(this).data('cotegoryid') + '&tag=' + tag +  '';
            $(this).attr("href", link);
        });

        $(document).on('click', '#pagenumber', function () {

            blockPage();
            var page = parseInt($(this).html());
            var catId = 0;
            var date = '';
            var tag = '';
            if ($('#SelectedCategoryId').val()) {
                catId = $('#SelectedCategoryId').val();
            }
            if ($('#SelectedDate').val()) {
                date = $('#SelectedDate').val();
            }
            if ($('#SelectedSearch').val()) {
                tag = $('#SelectedSearch').val();
            }
            var link = '/Home/PostContent/?page=' + page + '&date=' + date + '&catid=' + catId + '&tag=' + tag + '';
            $(this).attr("href", link);
        });

        $(document).on('click', '#previous', function () {

            blockPage();
            var page = $(this).data('currentpage');
            var catId = 0;
            var date = '';
            var tag = '';
            if ($('#SelectedCategoryId').val()) {
                catId = $('#SelectedCategoryId').val();
            }
            if ($('#SelectedDate').val()) {
                date = $('#SelectedDate').val();
            }
            if ($('#SelectedSearch').val()) {
                tag = $('#SelectedSearch').val();
            }
            $('#CurrentPage').val(page - 1);

            var link = '/Home/PostContent/?page=' + (page - 1) + '&date=' + date + '&catid=' + catId + '&tag=' + tag +  '';
            $(this).attr("href", link);
        });

        $(document).on('click', '#next', function () {
            blockPage();
            var page = $(this).data('currentpage');
            var catId = 0;
            var date = '';
            var tag = '';
            if ($('#SelectedCategoryId').val()) {
                catId = $('#SelectedCategoryId').val();
            }
            if ($('#SelectedDate').val()) {
                date = $('#SelectedDate').val();
            }
            if ($('#SelectedSearch').val()) {
                tag = $('#SelectedSearch').val();
            }
            $('#CurrentPage').val(page + 1);
            var link = '/Home/PostContent/?page=' + (page + 1) + '&date=' + date + '&catid=' + catId + '&tag=' + tag + '';
            $(this).attr("href", link);
        });


        $('.gopost').click(function () {
                blockPage();
                //var tempScrollTop = $(window).scrollTop();
                //$('#Scroll').val(tempScrollTop);
                var postId = parseInt($(this).attr('id'));
                var link = '<a id="goLink"  href="/Home/Post/?Id=' + postId + '" style="display:none"></a>';
                $('#link_post').html(link);
                $('#goLink')[0].click();
            });



        @*$(document).on('click', '#btnback', function () {
            blockPage();
            var page = $('#CurrentPage').val();

            var catId = 0;
            var date = '';
            if ($('#SelectedCategoryId').val())
            {
                catId = $('#SelectedCategoryId').val();
            }
            if ($('#SelectedDate').val())
            {
                date = $('#SelectedDate').val();
            }
            $.ajax({
                url: '@Url.Action("_PostContent")',
                data: { "page": page, "CatId": catId, "date": date },
                success: function (data) {
                    $("#PostContent").html(data);
                    afterAjax();
                    $(window).scrollTop($('#Scroll').val());
                    showPage();
                }
            });
        });*@




          $(function() {
            $("#datepicker").datepicker();
              $("#datepicker").on("change", function () {
                  blockPage();
                var selected = $(this).val();
                $('#SelectedDate').val(selected);
                $('#CurrentPage').val(1);
                  var catId = 0;
                  var tag = '';
                if ($('#SelectedCategoryId').val()) {
                      catId = $('#SelectedCategoryId').val();
                  }
                  if ($('#SelectedSearch').val()) {
                      tag = $('#SelectedSearch').val();
                  }


                  var link = '<a id="calendarlnk"  href="/Home/PostContent/?page=' + 1 + '&date=' + selected + '&catid=' + catId + '&tag=' + tag+'" style="display:none"></a>';
                  $('#link_post').html(link);
                  $('#calendarlnk')[0].click();
            });
        });


        $.datepicker.setDefaults($.datepicker.regional["hy"]);
        $('#datepicker').datepicker({
            inline: true,
            dateFormat: 'dd.mm.yy',
            changeYear: true,
            yearRange: "2017:2018",
            prevText: '<i class="fa fa-chevron-left selectable" title="Հետ"></i>',
            nextText: '<i class="fa fa-chevron-right selectable" title="Առաջ"></i>'
        });


        if ($('#SelectedDate').val()) {
            $("#datepicker").datepicker("setDate", $('#SelectedDate').val());
        }


        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#back-to-top').tooltip('show');


        function blockPage() {
            document.getElementById("loader").style.display = "block";
            document.getElementById("hider").style.display = "block";
        }


        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("hider").style.display = "none";
        }



        $('#txt_search').keypress(function(event){
            if(event.keyCode == 13){
                $('#btnsearch').click();
            }
        });


    });

</script>

