﻿
@if (Request.IsAuthenticated)
{
    <li>
        <a class="nav-link">
            Բարի գալուստ !
        </a>
    </li>
    if (ViewBag.IsAdmin)
    {
        @*<li>
            @Html.ActionLink("Հաշվետվություն", "Index", new { area = "Admin", controller = "Home" }, new { @class = "nav-link" })
        </li>
        <li>
            @Html.ActionLink("Վճարումներ", "Index", new { controller = "Home" }, new { @class = "nav-link" })
        </li>
        <li>
            @Html.ActionLink("Ղեկավարման վահանակ", "Index", new { area = "Admin", controller = "HecAdmin" }, new { @class = "nav-link" })
        </li>
        <li>
            @Html.ActionLink("Հաշվապահություն", "Index", new { area = "Admin", controller = "HecAccountant" }, new { @class = "nav-link" })
        </li>*@
    }
    <li>
        @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Ելք</a>
        }
    </li>

}
else
{
    <li>@Html.ActionLink("Մուտք", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
}
