﻿@{
    ViewBag.Title = "Categories";
}



<h2>Categories</h2>

<link href="~/Content/Kendo/kendo.common-bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Kendo/kendo.bootstrap.min.css" rel="stylesheet" />
@*<link href="~/Content/Kendo/kendo.default.min.css" rel="stylesheet" />*@

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/kendo/kendo.all.min.js"></script>
<script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
<script src="~/Scripts/cultures/kendo.culture.hy-AM.min.js"></script>
@*<script src="~/Scripts/cultures/kendo.culture.hy.min.js"></script>*@
<style>

    .k-grid-toolbar {
        background-color: #3343a4;
    }

    .k-state-selected {
        background-color: #3343a4;
        border-color: #3343a4;
    }

    /*.k-link:link {
            color: #3343a4;
        }

        .k-link {
            color: #3343a4;
        }
    */
    a:hover {
        color: #3343a4;
    }

    .k-link:hover {
        color: #3343a4;
    }

    .k-link:link, .k-link:visited, .k-nav-current.k-state-hover.k-link {
        color: #3343a4;
    }
</style>


<div id="grid"></div>
@*<div id="window"></div>*@




@(Html.Kendo().Grid<ChessBlog.Areas.Admin.Models.CategoryPostView>()
              .Name("Grid")
              .ToolBar(commands => commands.Create().Text("New Category"))
              .Columns(columns =>
              {
                  columns.Bound(o => o.Id).Groupable(false).Filterable(false).Visible(false);
                  columns.Bound(o => o.Name).Filterable(false);
                  columns.Bound(x => x.Date).Format("{0: dd.MM.yyyy HH:mm}");
                  columns.Command(command =>
                  {
                      command.Edit()
                          .Text("Edit")
                          .UpdateText("Save")
                          .CancelText("Cancel");
                      command.Destroy().Text("Delete");
                  }).Width(200);
              })
              .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("Tamplate"))
              .Pageable(x => x.PageSizes(new List<object> { 10, 20, "all" }).Refresh(true))
              .Sortable()
              .Scrollable(s => s.Enabled(false).Height("auto"))
              .HtmlAttributes(new { style = "width:508px;" })
              .DataSource(dataSource => dataSource
              .Ajax()
              .Events(events => events.Error("error_handler"))
              .Model(model => model.Id(p => p.Id))
              .Create(update => update.Action("Category_Create", "Home"))
              .Read(read => read.Action("Category_Get", "Home"))
              .Update(update => update.Action("Category_Update", "Home"))
              .Destroy(update => update.Action("Category_Delete", "Home"))))


<script type="text/javascript">

    kendo.culture("hy-AM");
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>