﻿
@{
    int n = Convert.ToInt32(ViewBag.n);
    var id = "panel_" + n;
}

<br/>
<div class="card" Id="@id">
    <div class="card-header" style="background-color:cadetblue">
        @id
    </div>
    <div class="card-body">   
        <hr />
        <div class="row">
            <div class="col s6">
                <label for="">PhotoLink------------------------------------------------------------</label>
                <input name="PhotoVideoList[@n].PostedFileBase" type="file" value="">
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col col-sm-3">
                <label for="">VideoLink</label>
            </div>
            <div class="col col-sm-10; left-align">
                <input name="PhotoVideoList[@n].VideoLink" type="text" value="" class="form-control" style="width: 383px">
            </div>
        </div>
        <hr />

        <div class="row">

            <div class="col s6 left-align">

                <textarea name="PhotoVideoList[@n].Text" rows="3" style="width: 668px" class="form-control"></textarea>

            </div>
        </div>
    </div>
</div>

