﻿@model ChessBlog.Areas.Admin.Models.PhotoVideoLinkView

@{
    ViewBag.Title = "Admin Index";
}

@using (Html.BeginForm("PostPreview", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", role = "form", autocomplete = "off", @id = "my" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="row">
        <div class="col-sm-4">
            @Html.DropDownListFor(x => x.CategoryId, new SelectList(Model.CategoryList, "Id", "Name"), "Ընտրել", new { @class = "btn btn-default dropdown-toggle", @style = "background-color:#d3dcd9" })
        </div>
        <div class="col-sm-4">
            @Html.ActionLink("Add Edit Category", "Categories", new { area = "Admin" })
        </div>
        <div class="col-sm-4">
            @Html.ActionLink("Edit Post", "PostEditDelete", new { area = "Admin" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
            <input type="text" id="txt_tag" />
            <br />
            <br />
            <a id="add_tag" href="#" class="btn btn-secondary">AddTag</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
            <select id="drp_tags" style="display:none;background-color:#d3dcd9" Class="btn btn-default dropdown-toggle" ,></select>
        </div>
    </div>

    <br />
    <br />
    @Html.TextAreaFor(x => x.PostText, new { @rows = "4", @class = "form-control", style = "width:668px" })
    @Html.ValidationMessageFor(x => x.PostText)
    <div id="dialog" style="display: none">
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            @Html.ActionLink("add", "", "", new { area = "Admin" }, new { id = "lnk" })
            @Html.ActionLink("Delete", "", "", new { area = "Admin" }, new { id = "lnk_del" })
        </div>
        <div class="col-sm-6">
            <button class="btn btn-primary" type="submit" style="width: 200px; float: right">Save</button>
        </div>
    </div>
}



<script>
    tinymce.init({ selector: 'textarea', width: 730 });
$(document).ready(function () {


    $('#lnk').click(function (e) {
        e.preventDefault();
            $.ajax({
                url: '@Url.Action("Container", "Home", new { area = "Admin"})',
                type: 'GET',
                cache: false
            }).done(function (result) {
                $("#dialog").append(result);
                $('#dialog').css('display', '');
                tinymce.init({ selector: 'textarea', width: 730 });
            });
    });


    $('#lnk_del').click(function (e) {
        e.preventDefault();
        $.ajax({
            url: '@Url.Action("Container_delete", "Home", new { area = "Admin"})',
            type: 'GET',
            cache: false
        }).done(function (result) {
            var panel = '#panel_' + result;
            console.log(panel);
            $(panel).remove();
        });
    });




    $('#add_tag').click(function (e) {
        e.preventDefault();

        var attr = $('#add_tag').attr('key');

        if (typeof attr !== typeof undefined && attr !== false) {

        } else {
            $('#add_tag').attr('key',0);
        }
        var key = $("#add_tag").attr("key")
        var text = $("#txt_tag").val();
            $("#drp_tags").css({ 'display': "block" });
            $('#drp_tags').append($("<option></option>")
                .attr("value", key)
                .attr("name","Tags["+key+"]")
                .text(text));
        $("#add_tag").attr("key", (parseInt(key) + 1));
        $("#txt_tag").val('');


        $('<input>').attr({
            type: 'hidden',
            id: 'foo'+key+'',
            name: 'Tags[' + key + ']',
            value: text
        }).appendTo('form');


    });




 });
</script>
