﻿@model ChessBlog.EntityData.CategoryPost
@using ChessBlog.Extensions;
@{
    ViewBag.Title = "PostPreview";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Page Content -->

<div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-8">
        <!-- Title -->
        <br />
        @Html.Raw(@Model.Name)
        <!-- Date/Time -->
        <span style="float:right; font-size:10px"><i class="far fa-clock" style="margin-right: 4px"></i>@Model.Date.RelativDate()</span>

        @if (Model.PhotoVideoLink != null)
        {


            foreach (var item in Model.PhotoVideoLink)
            {

                <!-- Preview Image -->

                if (item.PhotoNameExt != "")
                {
                    <p>
                        <img class="card-img" src="@Href("~/UploadedImages/" + Model.Id + "/" + item.PhotoNameExt)" alt="">
                    </p>

                }
                if (item.VideoLink != "")
                {
                    <p>
                        <iframe  width="730" height="400" src="@item.VideoLink" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </p>
                }

                <!-- Post Content -->
                if (item.Text != "")
                {
                    <p>
                        <span style="word-break: break-all">@Html.Raw(item.Text)</span>
                    </p>
                }
            }
        }


        <hr />
        @using (Html.BeginForm("PostSave", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.Id);

            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-secondary" type="submit" style="width: 200px; float: left">Delete</button>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-primary" name="name" value="ok" type="submit" style="width: 200px; float: right">Save</button>
                </div>
            </div>
        }
        <!-- Comments Form -->
       
        <!-- Single Comment -->
     
        <!-- Comment with nested comments -->
        
    </div>











    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
        <!-- Search Widget -->
        <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
        <!-- Categories Widget -->
        <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">Web Design</a>
                            </li>
                            <li>
                                <a href="#">HTML</a>
                            </li>
                            <li>
                                <a href="#">Freebies</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">JavaScript</a>
                            </li>
                            <li>
                                <a href="#">CSS</a>
                            </li>
                            <li>
                                <a href="#">Tutorials</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Side Widget -->
        <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
                You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<!-- /.container -->
