﻿@model ChessBlog.Models.AccountViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Scripts/Login/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/Login/sb-admin-2.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>

                    <div class="panel-body">

                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", autocomplete = "off" }))
                        {
                            @Html.AntiForgeryToken()
                            <form role="form">
                                <fieldset>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Login, new { @placeholder = "Login", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Login, "", new { @style = "color:red" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Password, new { @placeholder = "Password", @type = "password", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @style = "color:red" })
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(m => m.RememberMe, new { @name = "remember", @value = "Remember Me" })Remember Me
                                            @*<input name="remember" type="checkbox" value="Remember Me">Remember Me*@
                                        </label>
                                    </div>
                                    <!-- Change this to a button or input when using this as a form -->
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-lg btn-success btn-block">Մուտք</button>
                                    </div>
                                    <div class="form-text, text-center">
                                        <label>
                                            @Html.ValidationMessage("LoginPasswordError", new { @style = "color:red" })
                                        </label>
                                    </div>

                                </fieldset>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
