﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("metatags", false)




    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="/chess.ico" />



    @Styles.Render("~/bundles/Content/css")
    @Styles.Render("~/Content/css/font-awesome")



    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")

    
    
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123726991-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-123726991-1');
    </script>


    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-2960571331174972",
            enable_page_level_ads: true
        });
    </script>
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="http://fischerclub.com">FischerClub</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/Fischerchessclub/"> <i class="fab fa-facebook-f"></i></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fab fa-odnoklassniki-square"></i></a>
                    </li>
                    <li class="nav-item" style="border-right:1px solid;border-color: #999c9f;">
                        <a class="nav-link" href="#"></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="http://fischerclub.com/Home/About">Մեր մասին</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://fischerclub.com/Home/Contact">Կապ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    @RenderBody()
    <hr/>


    <!-- Footer -->
    <footer class="py-5 bg-dark footer">
        <div class="container">

            <p class="m-0 text-center text-white">   © Untitled. All rights reserved.</p>

        </div>
        <!-- /.container -->
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
