﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}
ul {
    -ms-columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
/* Center the loader */
#hider {
    background: none repeat scroll 0 0 black;
    position: fixed;
    display: none;
    opacity: 0.5;
    z-index: 11;
    top: 0;
    height: 100%;
    width: 100%;
}

#loader {
    display: none;
    position: fixed;
    left: 39%;
    top: 50%;
    z-index: 12;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@media (max-width: 800px) {
    #loader {
        left: 55%;
        top: 50%;
    }
}



@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}
.navbar-collapse.collapse.in {
    display: block !important;
}
    .myImg:hover {
        opacity: 0.7;
    }
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
textarea
input,
select {
    max-width: 280px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    /*max-width: 700px;*/
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}
/* The Close Button */
.close {
    position: absolute;
    top: 50px;
    right: 3%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.ui-datepicker {
    background-color: #fff;
    /*border: 1px solid #66AFE9;*/
    border-radius: 4px;
    /*box-shadow: 0 0 8px rgba(102,175,233,.6);*/
    /*display: none;
        margin-top: 4px;
        padding: 10px;
        width: 240px;*/
}

    .ui-datepicker a,
    .ui-datepicker a:hover {
        text-decoration: none;
    }

        .ui-datepicker a:hover,
        .ui-datepicker td:hover a {
            color: #2A6496;
            -webkit-transition: color 0.1s ease-in-out;
            -moz-transition: color 0.1s ease-in-out;
            -o-transition: color 0.1s ease-in-out;
            transition: color 0.1s ease-in-out;
        }

    .ui-datepicker .ui-datepicker-header {
        margin-bottom: 4px;
        text-align: center;
    }

    .ui-datepicker .ui-datepicker-title {
        font-weight: 700;
    }

    /*.ui-datepicker .ui-datepicker-prev,
    .ui-datepicker .ui-datepicker-next {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        height: 20px;
        line-height: 1;
        margin-top: 2px;
        width: 30px;
    }*/





    .ui-datepicker .ui-datepicker-prev {
        float: left;
        text-align: left;
    }

    .ui-datepicker .ui-datepicker-next {
        float: right;
        text-align: right;
    }


/*.ui-datepicker-prev:before, .ui-datepicker-next:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    height: 20px;
    line-height: 1;
    margin-top: 2px;
    width: 30px;
}*/

/*.ui-datepicker .ui-datepicker-prev:before {
    content: "\e079";
}

.ui-datepicker .ui-datepicker-next:before {
    content: "\f000";
}*/

/*.ui-datepicker .ui-icon {
    display: none;
}*/


.ui-datepicker-prev .ui-corner-all {
}


.ui-datepicker .ui-datepicker-calendar {
    table-layout: fixed;
    width: 100%;
}

    .ui-datepicker .ui-datepicker-calendar th,
    .ui-datepicker .ui-datepicker-calendar td {
        text-align: center;
        padding: 4px 0;
    }

    .ui-datepicker .ui-datepicker-calendar td {
        border-radius: 4px;
        -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
        -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
        -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
        transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    }

        .ui-datepicker .ui-datepicker-calendar td:hover {
            background-color: #eee;
            cursor: pointer;
        }

        .ui-datepicker .ui-datepicker-calendar td a {
            text-decoration: none;
        }

.ui-datepicker .ui-datepicker-current-day {
    background-color: #4289cc;
}

    .ui-datepicker .ui-datepicker-current-day a {
        color: #fff
    }

.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
    background-color: #fff;
    cursor: default;
}

.selectableLink {
    cursor: pointer;
}

.selectable {
    cursor: pointer;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

    .selectable:hover {
        opacity: 0.7;
    }



.selectableLink:hover {
    text-decoration: underline;
    color: #353a40;
    /*font-weight: bold;*/
}
