﻿@model ChessBlog.Areas.Admin.Models.CategoryPostView

@{
    Layout = null;
}

<!DOCTYPE html>

<h3>Custom edit template</h3>
<br />

    @Html.HiddenFor(model => model.Id)

    <div class="container">
        <div class="col-md-4">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>       
    </div>

    @*<div>
            @Html.LabelFor(model => model.Date)
        </div>*@
   @* <div>*@
        @* @Html.Kendo().DateTimePickerFor(Function(model) model.Geburtstag).Format("dd.MM.yyyy")*@
        @*@Html.Kendo().DateTimePickerFor(model => model.Date).Format("dd.MM.yyyy HH:mm")*@
        @*@Html.ValidationMessageFor(model => model.Date)*@
    @*</div>*@

